<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<% if @test_passage.success? %>
  <p>
    <span class="success"><%= t('.success', success_percent: @test_passage.percent_correct) %></span>
  </p>
<% else %>
  <p>
    <span class="fail"><%= t('.fail', fail_percent: @test_passage.percent_correct) %></span>
  </p>
<% end %>
<%= link_to t('.tests_list'), tests_path %>