<div align="center">
  <br>
  <%= current_year %>
  <br>
  <%= github_url('GodKIM91', 'TestGuru') %><br>
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com', target: '_blank' %>
</div>